@model IEnumerable<Kirjakortisto.Models.Book>

@{
    ViewBag.Title = "Index";
}

<div class="container" ng-app="app" ng-controller="BooksCtrl">

    <h2>Purchased books</h2>

    <!-- Debug model -->
    @*<p>{{ model | json }}</p>*@

    <p>
        @Html.ActionLink("Add Purchased Book", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                <a href="" ng-click="sortName='Name'; sortReverse=!sortReverse">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <!-- Bonus feature: also allow to sort by description -->
                <a href="" ng-click="sortName='Description'; sortReverse=!sortReverse">
                    @Html.DisplayNameFor(model => model.Description)
                </a>
            </th>
            <th>
                <a href="" ng-click="sortName='Author'; sortReverse=!sortReverse">
                    @Html.DisplayNameFor(model => model.Author)
                </a>
            </th>
            <th>
                <a href="" ng-click="sortName='PurchaseDate'; sortReverse=!sortReverse">
                    @Html.DisplayNameFor(model => model.PurchaseDate)
                </a>
            </th>
            <th></th>
        </tr>

        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @BootstrapHelpers.IconLink(@Url.Action("Edit", new { id = item.Id }), "pencil", "Edit")
                    |
                    @BootstrapHelpers.IconLink(@Url.Action("Details", new { id = item.Id }), "info-sign", "Details")
                    |
                    @BootstrapHelpers.IconLink(@Url.Action("Delete", new { id = item.Id }), "trash", "Delete")
                </td>
            </tr>
        }*@

        <tr ng-repeat="book in model | orderBy: sortName : sortReverse">
            <td>
                {{ book.Name }}
            </td>
            <td>
                {{ book.Description }}
            </td>
            <td>
                {{ book.Author }}
            </td>
            <td>
                {{ book.PurchaseDate | convertDate | date : "yyyy-MM-dd" }}
            </td>
            <td>
                @BootstrapHelpers.IconLink(@Url.Action("Edit")+"/?id={{ book.Id}}", "pencil", "Edit")
                |
                @BootstrapHelpers.IconLink(@Url.Action("Details")+"/?id={{ book.Id}}", "info-sign", "Details")
                |
                @BootstrapHelpers.IconLink(@Url.Action("Delete")+"/?id={{ book.Id}}", "trash", "Delete")
            </td>
        </tr>
        

    </table>

</div>